:root {
  --bg-button: #6b6b6b;
  --border-button: solid 1px #0004;
  --color-button: #fff;
}

.button {
  font-size: 1.4rem;
  background: var(--bg-button);
  border: none;
  outline: none;
  border-right: var(--border-button);
  border-bottom: var(--border-button);
  color: var(--color-button);
}

.button:active {
  background: #ccc;
}

.button.double {
  grid-column: span 2;
}

.button.triple {
  grid-column: span 3;
}

.button.operation {
  background: #f69f0b;
  color: #fff;
}

.button.operation:active {
  background: #e08c06;
}
